div.error{
	position: relative;
	font-family: monospace;
	cursor: pointer;
	margin: 0;
	padding: 5px;
	box-shadow:
		0.15em 0 0 0 black,
		0 0.15em 0 0 black,
		0.15em 0.15em 0 0 black,
		0.15em 0 0 0 black inset,
		0 0.15em 0 0 black inset;
}
div.error>div{
	position: relative;
	margin: 0;
	padding: 0;
}
div.error>div.collapsable>div:first-child{
	box-shadow: inset 0 0.15em 0 0 black,
		inset 0.15em 0 0 0 black,
		0.15em 0 0 0 black;
}
div.error>div.collapsable>div{
	margin: 0;
	padding: 5px;
	font-size: 1em;
	box-shadow: inset 0.15em 0 0 0 black,
		0.15em 0 0 0 black;
}
div.error>div.collapsable>div:last-child{
	box-shadow: 0 0.15em 0 0 black,
		inset 0.15em 0 0 0 black,
		0.15em 0.15em 0 0 black,
		0.15em 0 0 0 black;
}
div.error>div.collapsable>div.odd{
	background-color: lightgrey;
}
div.error>div.collapsable>div:hover{
	background-color: lightblue;
}
div.error ul, div.error ul>li, div.error pre{
	margin: 0;
}
div.collapsed{
	display: none;
}
span.collapse-arrow{
	width: 0.5em;
}
span.collapse-arrow:not(.collapsed){
	display: inline-block;
	transform: rotate(90deg) translateY(-0.3em);
}
span.right{
	float: right;
	clear: none;
}
div.clear{
	clear: both;
}