div.error{
	border: solid;
	border-width: 1px;
	font-family: monospace;
	cursor: pointer;
	margin: 0;
	padding: 5px;
}
div.error>div{
	margin: 0;
	padding: 0;
	border: solid;
	border-width: 1px;
}
div.error>div.collapsable>div{
	margin: 0;
	padding: 5px;
	font-size: 10px;
}
div.error>div.collapsable>div.odd{
	background-color: lightgrey;
}
div.error>div.collapsable>div:hover{
	background-color: lightblue;
}
div.error>div ul{
	margin: 0;
}
div.collapsed{
	display: none;
}
span.collapse-arrow{
	width: 5px;
}
span.collapse-arrow:not(.collapsed){
	display: inline-block;
	transform: rotate(90deg) translateY(-3px);
}