@import url(fonts.css);
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,p{
	margin: 0;
}
p{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 5px;
	padding-right: 5px;
}
input[type=submit],button.recommend{
	background-image: url(../img/buttons/ui/recommend.png);
	background-color: #00caf2;
	border-color: #00acce;
}
input[type=submit]:active,button.recommend:active{
	border-color: #008aaa;
	background: #008aaa;
	color: #333;
}
.cancel{
	background-image: url(../images/buttons/ui/danger.png);
	background-color: #b70404;
	color: #fff;
	text-shadow: -0.1rem -0.1rem 0 #830b0b;
	border: none;
}
.cancel:active{
	background-image: url(../images/buttons/ui/danger-press.png);
	background-color: #890707;
}
#cacheStatus{
	height: 100% !important;
	top: 0 !important;
}
div#topbar{
	width: calc(100% + 1px);
	background-color: #CD6723;
	background: url(../img/headers/ui/header.png) repeat-x 0 0;
  	background-size: auto 100%;
	color: black;
	overflow: hidden;
	min-height: 50px;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
}
div.topbar-left{
	height: 100%;
}
div#topbar .menuitem{
	color: white;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
	margin-left: -1px;
	float: left;
	font-size: 25px;
	line-height: 50px;
	overflow: hidden;
	cursor: pointer;
	min-width: 35px;
	height: 50px;
}
div#topbar .menuitem:not(.topbar-home):not(.topbar-back){
	background: url(../img/headers/ui/separator.png) no-repeat scroll left center transparent;
}
div#topbar .menuitem:hover,div#topbar .menuitem:not(.topbar-home):not(.topbar-back):hover{
	background-image: url(../img/headers/ui/negative.png);
	background-repeat: repeat-x;
}
div#topbar .menuitem:active{
	background: #008aaa !important;
	color: #333;
}
div#topbar .menu{
	color: black;
}
div.topbar-right{
	float: right;
}
div.topbar-left{
	float: left;
}
div#content{
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	padding-top: 5px;
}
div#loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: gray;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../img/load.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.screen-small, .screen-large{
	display: none;
}
.table{
	display: table;
}
.row{
	display: table-row;
}
.cell{
	display: table-cell;
}
.column{
	display: table-column;
}
.fill,.fill-width{
	width: 100%;
}
.fill,.fill-height{
	height: 100%;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.block{
	display: block;
}
.outline{
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
.top{
	z-index: 2147483638;
}
@media screen and (max-width: 767px){
	div#topbar a.menuitem:not(.topbar-home){
		padding-left: 5px;
		padding-right: 5px;
	}
	div.topbar-right .menuitem{
		margin-bottom: -1px;
	}
	a.topbar-home{
		padding: 0;
	}
	div.topbar-left a.topbar-current{
		float: right !important;
	}
	div.topbar-right a.topbar-current{
		position: absolute;
		right: 1px;
		top: 0;
		width: auto;
	}
	div.topbar-right{
		display: none;
	}
	div.topbar-left{
		width: 100%;
	}
	div.topbar-right a{
		clear: both;
		float: right !important;
		width: 100%;
	}
	a.topbar-back,a.topbar-history{
		width: 35px !important;
		position: absolute;
		top: 0;
		padding: 0 !important;
	}
	div#topbar{
		min-height: 35px;
	}
	div.topbar-right{
		min-height: 35px;
		width: 100%;
		padding-top: 50px;
	}
	.topbar-back,.topbar-history{
		background: url(../img/headers/ui/separator.png) no-repeat scroll right center transparent;
	}
	.screen-small{
		display: block;
	}
}
@media screen and (min-width: 768px){
	div#topbar .menuitem{
		/*font-size: 15px;*/
		padding-left: 5px;
		padding-right: 5px;
	}
	a.topbar-back{
		display: none !important;
	}
	div.topbar-right{
		height: 100%;
	}
	div.topbar-right a.topbar-current{
		display: none;
	}
	a.topbar-home{
		display: none;
	}
	.screen-large{
		display: block;
	}
}
@viewport{
    zoom: 1.0;
    width: device-width;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}