# Redirects
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^\~([^/]*)$ /index.php?type=user&id=$1 [L]
	RewriteRule ^\+([^/]*)$ /index.php?type=group&id=$1 [L]
	RewriteRule ^\!([^/]*)$ /index.php?type=issue&id=$1 [L]
	RewriteRule ^([^/]*)/([^/]*)$ /index.php?type=$1&id=$2 [L]
	RewriteRule ^([^/]*)/([^/]*)$ /index.php?type=$1&id=$2 [L]
	RewriteRule ^install/([^/]*)$ /install/index.php?id=$1 [L]
</IfModule>
# File security
<FilesMatch ".(bak|config|sql|fla|psd|ini|log|sh|inc|~|swp)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>