# TODO - Add redirects
RewriteEngine On
RewriteBase /
RewriteRule /\~(.+)		index.php?type=user&id=$1
RewriteRule /\+(.+)		index.php?type=group&id=$1
RewriteRule /\!(.+)		index.php?type=issue&id=$1
RewriteRule /scrum\/(.+)	index.php?type=scrum&id=$1
RewriteRule /admin\/(.+)	index.php?type=admin&id=$1