<a>
	<span class="icon icon-menu">
		hide sidebar
	</span>
</a>
<a>
	<span class="icon icon-menu">
		show sidebar
	</span>
</a>
<menu type="toolbar">
	<a>
		<span class="icon icon-edit">
			edit
		</span>
	</a>
	<a>
		<span class="icon icon-add">
			add
		</span>
	</a>
</menu>
<h1>
	{{title}}
</h1>