<li>
	<a style="font-size:small;color:gray;text-decoration:none;" href="#~{{name}}">
		{{name}}
	</a>
	<time style="font-size:smaller;" class="timeago">
		{{timestamp}}
	</time>
	<div>
		{{message}}
	</div>
</li>