<div>
	<section data-type="list">
		<header>
			Messages
		</header>
		<ul>
			{{#each messages}}
				<li>
					<aside class="pack-end">
						<time style="font-size:smaller;" class="timeago">
							{{timestamp}}
						</time>
					</aside>
					<a>
						<p>
							From: {{from}}
						</p>
						<p>
							{{message}}
						</p>
					</a>
				</li>
			{{/each}}
		</ul>
	</section>
</div>