<div>
	<section data-type="list">
		<header>
			Projects
		</header>
		<ul>
			{{#each projects}}
				<li>
					<aside class="pack-end">
						{{user.name}}
					</aside>
					<a href="#project-{{id}}">
						<p>
							{{title}}
						</p>
						<p>
							{{description}}
						</p>
					</a>
				</li>
			{{/each}}
		</ul>
	</section>
</div>