<a class="button" href="#page-newproject">
	New
</a>
<div class="accordion">
	<span class="icons">
		{
			"header": "ui-icon-wrench",
			"activeHeader": "ui-icon-wrench"
		}
	</span>
	{{#each projects}}
		<h3>
			{{title}} - <small>{{user.name}}</small>
			<a href="#project-{{id}}" class="button">
				Open
			</a>
		</h3>
		<div>
			{{description}}
		</div>
	{{/each}}
</div>